**/.env
**/.env.*

**/node_modules
dist
!dist/apps/api/server
**/out-tsc
**/*.tsbuildinfo

.nx
**/.cache
**/coverage
.playwright
.playwright-cli
.dev

apps/web
libs/shadcn-ui
libs/shadcn-ui-utils

.git
.github
.claude
.agents
.opencode
docs
*.md

.vscode
.idea
**/.DS_Store
